    </div><!-- inner -->
    <div class='footer_separator'> </div>
    <div class='footer'>
        <div class='category cube_drone'>
            <h2 id='cube_drone'>Cube Drone</h2>
            <ul>
                {{#each-limit reverse_categories.[Cube Drone] 5}}
                    <li class='post'><a href="{{this.id}}.html">{{this.title}}</a></li>
                {{/each-limit}}
            </ul>
        </div>
        <div class='category video'>
            <h2 id='video'>Video</h2>
            <ul>
                {{#each-limit reverse_categories.[Cube Drone Video] 5}}
                    <li class='post'><a href="{{this.id}}.html">{{this.title}}</a></li>
                {{/each-limit}}
            </ul>
        </div>
        <div class='category blog'>
            <h2 id='video'>Blog</h2>
            <ul>
                {{#each-limit reverse_categories.[Blog] 5}}
                    <li class='post'><a href="{{this.id}}.html">{{this.title}}</a></li>
                {{/each-limit}}
            </ul>
        </div>
        <div class='footer_content'>
            <p>&copy; Curtis Lassam 2014</p>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
                </a>
            </p>
            <p>
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">Cube Drone</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://cube-drone.com" property="cc:attributionName" rel="cc:attributionURL">Curtis Lassam</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            </p>
            <p>This site built using the <a href="http://curtis.lassam.net/arglebargle">Arglebargle Website Engine</a></p>
        </div>
        <div style='clear:both;'></div>
    </div>
    </div><!-- content -->
    {{> js}}

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-41279849-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>
