{{> partials/header }}

<div class='intro'>
{{> partials/intro }}
</div>

<ul class='index'>
{{#each-limit index 3}}
<li class='special post'>
    <h2><a href="{{this.id}}.html">{{this.title}}</a></h2> 
    <h3>{{this.human_date}}</h3>
    <div class='post_content'>
    {{{this.html}}}
    </div>
    </li>
{{/each-limit}}
</ul>

<ul class='full-index'>
{{#each index}}
<li class='special post'>
    <h2><a href="{{this.id}}.html">{{this.title}}</a></h2> 
    <h3>{{this.human_date}}</h3>
</li>
{{/each}}
</ul>


{{> partials/footer }}
