{{> partials/header }}

<nav class='fpnl'>
    <a class='first' href="{{first.id}}.html">First</a>
    {{# if previous }}
        <a class='previous' href="{{previous.id}}.html">Previous</a>
    {{/if}}
    {{# if next }}
        <a class='next' href="{{next.id}}.html">Next</a>
    {{/if}}
    <a class='last' href="{{last.id}}.html">Last</a>
</nav>

<section class='post'>
    <h2>{{title}}</h2>
    <h3 class='created'>{{human_datetime}}</h3>

    <div class='post_content'>
    {{{html}}}
    </div>

</section>

{{# each category_items }}
    <h3 class='category_title'>Category: {{this.name}}</h3>
    <nav class='fpnl'>
        <a class='first' href="{{this.first.id}}.html">First</a>
        {{# if this.previous }}
            <a class='previous' href="{{this.previous.id}}.html">{{# if this.previous}} Previous {{/if}}</a>
        {{/if}}
        {{# if this.next }}
            <a class='next' href="{{this.next.id}}.html">Next</a>
        {{/if}}
        <a class='last' href="{{this.last.id}}.html">Last</a>
    </nav>
{{/each}}


{{> partials/footer }}

